* {
    list-style: none;
}

.remove {
    margin-left: 10px;
    line-height: .5;
    padding: 0.375rem 0.5rem;
    text-transform: uppercase;
    transition: .5s;
}

.remove:hover {
    background: #f00;
    color: #fff;
}

.list-group {
    margin-top: 25px;
    list-style: upper-roman;
    padding: 0;
}

.list-group li {
    text-transform: capitalize;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-close{
    color: red;
    border: none;
    font-weight: 700;
    background: transparent;
}